<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Contact</h1>
          <p class="text-center lead">Create or edit your contact below.</p>

          <%- include('includes/messages') %>
          
          <% if(contato._id){ %>
          <form action="/contato/edit/<%= contato._id%>" method="POST">
            <% } else { %>
              <form action="/contato/register" method="POST">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="form-group">
              <label>Name</label>
              <input
                value="<%= contato.nome%>"
                type="text"
                class="form-control"
                name="nome"
              />
            </div>
            <div class="form-group">
              <label>Surname</label>
              <input
                value="<%= contato.sobrenome%>"
                type="text"
                class="form-control"
                name="sobrenome"
              />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input
                value="<%= contato.email%>"
                type="email"
                class="form-control"
                name="email"
              />
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input
                value="<%= contato.telefone%>"
                type="tel"
                class="form-control"
                name="telefone"
              />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/bundle.js"></script>
  </body>
</html>
